extends ../layout/page

block content
    .gd
        .cll-3-12
        .cll-4-12
            .grp-bx
                .hdr
                    h3.nbm Entrar
                .cnt.txt-cnt
                    img(src='/img/logotype/c37.png', style='width:130px;margin-top:11px')
                    h1.nbm Entre na c37

                    form(action="#{context.url}", method="post")
                        if (member.validate_message.length)
                            .lrt-bx.ylw
                                .hdr
                                    strong Verifique&nbsp;
                                    | as mensagens abaixo e continue
                                .cnt
                                    - member.validate_message.forEach(function(message){
                                        | #{message}
                                        br
                                    - })

                        .rw
                            .cll-1
                                label Nome de usuário ou Email
                                input.input-block-level(type='text', name='name_user_email', value=_.findWhere(member.fields,{name:"name_user_email"}).value)

                        .rw
                            .cll-1
                                label Sua senha
                                input.input-block-level(type='password', name='password', value=_.findWhere(member.fields,{name:"password"}).value)
                                .txt-rgt
                                    br
                                    a.ctv(href="/password") Esqueci minha senha

                                label
                                    input(name="remember", type="checkbox")
                                    | Mantenha-me conectado

                        .rw
                            .cll-1.txt-rgt
                                button.btn.bl(type="submit")
                                    i.icon-ok.icon-white
                                    span #{" Acessar"}

        .cll-3-12
            h3 Algumas dicas:
            ul.big-iconed-tips
                li
                    i.icon-credit-card
                    | Um cadastro para todos os serviços
                li
                    i.icon-lock
                    | É 100% Seguro
                li
                    i.icon-comments
                    | Estamos 24 Horas no Ar
                li
                    i.icon-cogs
                    | Salve o coun
                li
                    i.icon-github
                    | Participe das nossas Comunidades
            p
                | Ut diam arcu, dictum ut vulputate sed, iaculis nec lorem. Fusce pharetra nisl vitae nisl ultricies ut malesuada leo fringilla.
        .cll-2-12